USE [master]
GO
/****** Object:  Database [dbAlgebra]    Script Date: 10.4.2019. 14:00:44 ******/
CREATE DATABASE [dbAlgebra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbAlgebra', FILENAME = N'D:\Code\dbAlgebra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbAlgebra_log', FILENAME = N'D:\Code\dbAlgebra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbAlgebra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbAlgebra]
GO
USE [dbAlgebra]
GO
/****** Object:  Table [dbo].[tblDrzave]    Script Date: 10.4.2019. 14:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDrzave](
	[IdDrzava] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDrzava] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGradovi]    Script Date: 10.4.2019. 14:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGradovi](
	[IdGrad] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[IdDrzava] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGrad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPolaznici]    Script Date: 10.4.2019. 14:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPolaznici](
	[IdPolaznik] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[IdGrad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPolaznik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTecajevi]    Script Date: 10.4.2019. 14:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTecajevi](
	[IdTecaj] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTecaj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUpisi]    Script Date: 10.4.2019. 14:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUpisi](
	[IdUpis] [int] IDENTITY(1,1) NOT NULL,
	[DatumUpisa] [datetime] NOT NULL,
	[IdPolaznik] [int] NULL,
	[IdTecaj] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUpis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblGradovi]  WITH CHECK ADD FOREIGN KEY([IdDrzava])
REFERENCES [dbo].[tblDrzave] ([IdDrzava])
GO
ALTER TABLE [dbo].[tblPolaznici]  WITH CHECK ADD FOREIGN KEY([IdGrad])
REFERENCES [dbo].[tblGradovi] ([IdGrad])
GO
ALTER TABLE [dbo].[tblUpisi]  WITH CHECK ADD FOREIGN KEY([IdPolaznik])
REFERENCES [dbo].[tblPolaznici] ([IdPolaznik])
GO
ALTER TABLE [dbo].[tblUpisi]  WITH CHECK ADD FOREIGN KEY([IdTecaj])
REFERENCES [dbo].[tblTecajevi] ([IdTecaj])
GO
USE [master]
GO
