@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>prvi</title>
</head>
<body>
    <div> 
        <label>@Model</label>
    </div>
</body>
</html>
